<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Watching Lists", user_watching_index_path(current_user)  %></li>
      <li class="active"><%= link_to "#{@list.name}", user_watching_path(current_user, @list) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= @list.name %></h2>
    <div class="inner">
      <div id="pending-tasks">
        <h3>Pending</h3>
        <div class="inner">
          <ul class="lists">
            <%= render :partial => 'lists/task', :collection => @list.pending_tasks %>
          </ul>
        </div>
      </div>
      <div id="completed-tasks" %>
        <h3>Completed</h3>
        <div class="inner">
          <ul class="lists">
            <%= render :partial => 'lists/task', :collection => @list.completed_tasks %>
          </ul>
        </div>
      </div>
      <br /><br />
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/tick.png", :alt => "Unwatch") + " Unwatch", list_watcher_path(@list), :method => :delete, :class => "button" %>
        <span class="text_button_padding">or</span>
        <%= link_to "Back", user_watching_index_path(current_user), :class => "text_button_padding link_button" %>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>

